<div class="banner">
  <div class="banner-content">
    <h1 class="banner-title">Help is Already Here</h1>
    <h3 class="banner-values">We connect foreigners to local know-how</h3>
  </div>
  <div class="banner-call-action">
    <%= link_to "Make a request", new_inquiry_path, class: "btn banner-button hvr-grow" %>
  </div>
  <div class="banner-cards">
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="banner-card">
      <%= cl_image_tag("v1493035405/phone_rhmx3z.png", class: "banner-card-icon") %>
      <hr class="banner-hr-green-top">
      <hr class="banner-hr-green-bottom">
      <div class="banner-card-content">
        <div class="banner-card-content-header">
          <h5>Make a Call</h5>
        </div>
        <div class="banner-card-content-text">
          <p>Make sure that taxi, delivery, or cable guy  knows your schedule.</p>
        </div>
      </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="banner-card">
      <%= cl_image_tag("v1493036144/calendar1_iygttl.png", class: "banner-card-icon") %>
      <hr class="banner-hr-green-top">
      <hr class="banner-hr-green-bottom">
      <div class="banner-card-content">
        <div class="banner-card-content-header">
          <h5>Schedule an Appointment</h5>
        </div>
        <div class="banner-card-content-text">
          <p>Schedule your next trip to the doctor, dentist, or party room.</p>
        </div>
      </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="banner-card">
      <%= cl_image_tag("v1493035588/truck_rcz4xq.png", class: "banner-card-icon") %>
      <hr class="banner-hr-green-top">
      <hr class="banner-hr-green-bottom">
      <div class="banner-card-content">
        <div class="banner-card-content-header">
          <h5>Contact Local Services</h5>
        </div>
        <div class="banner-card-content-text">
          <p>Get in contact with local movers, plumbers, etc. </p>
        </div>
      </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="banner-card">
      <%= cl_image_tag("v1493035588/message_fmkl7u.png", class: "banner-card-icon") %>
      <hr class="banner-hr-green-top">
      <hr class="banner-hr-green-bottom">
      <div class="banner-card-content">
        <div class="banner-card-content-header">
          <h5>Specific Inquiries</h5>
        </div>
        <div class="banner-card-content-text">
          <p>Ask us that question you just can't seem to find the answer for.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- Banner Ends Heree -->
<div class="homepage-wrapper-white">
  <div class="container">
    <div class="homepage-section-header">
      <h2>How It Works <i class="fa fa-cogs" aria-hidden="true"></i></h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="homepage-works-card">
          <%= cl_image_tag("v1493009403/one_nk4dsj.png", class: "homepage-works-card-number") %>
          <%= cl_image_tag("v1493040270/small-ribbon_v3exnl.png", class: "homepage-works-card-ribbon") %>
          <div class="homepage-works-card-content">
            <h4>Get Help</h4>
            <p>
              Our team of local Gibbers are here to help you complete your daily life tasks.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="homepage-works-card">
          <%= cl_image_tag("v1493009403/two_yaf0h7.png", class: "homepage-works-card-number") %>
          <%= cl_image_tag("v1493040270/small-ribbon_v3exnl.png", class: "homepage-works-card-ribbon") %>
          <div class="homepage-works-card-content">
            <h4>Make a Request</h4>
            <p>
             Fill out our request form and one of our Gibbers will review it right away.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="homepage-works-card">
          <%= cl_image_tag("v1493009403/three_nqtsm6.png", class: "homepage-works-card-number") %>
          <%= cl_image_tag("v1493040270/small-ribbon_v3exnl.png", class: "homepage-works-card-ribbon") %>
          <div class="homepage-works-card-content">
            <h4>Review Proposal</h4>
            <p>
             One our Gibbers will send you a proposal of action with quick-pay instructions.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="homepage-works-card">
          <%= cl_image_tag("v1493088013/four_yexcyq.png", class: "homepage-works-card-number") %>
          <%= cl_image_tag("v1493040270/small-ribbon_v3exnl.png", class: "homepage-works-card-ribbon") %>
          <div class="homepage-works-card-content">
            <h4>Get It Cheap</h4>
            <p>
             Requests start as low as 400 yen. Pay quickly with your card using Stripe.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- How it Works Ends here -->
<div class="homepage-wrapper-green">
  <div class="container">
    <div class="gibbit-plea-content">
      <h2>Join the Gibbit community today </h2>
      <%= link_to raw("Send us a request and we'll get it done"), new_inquiry_path, class: "hvr-icon-forward" %>
    </div>
  </div>
</div>
<!-- GREEN WRAPPER ENDS HERE -->
<div class="homepage-wrapper-white">
  <div class="container">
    <div class="homepage-section-header">
      <h2>What Our Customer Say <i class="fa fa-commenting-o" aria-hidden="true"></i></h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="review-card-white">
          <h3>Chris</h3>
          <%= cl_image_tag("v1492743361/icon-quoute_th5bzz.png",
            class: "review-card-bubble review-card-quote") %>
          <%= cl_image_tag("v1492742646/user2_v4t0fe.jpg",
          class: "review-avatar review-card-user") %>
          <p>
            I needed help moving last month and they set me up with an incredibly helpful and cheap mover.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="review-card-white">
          <h3>Biz</h3>
          <%= cl_image_tag("v1492743361/icon-quoute_th5bzz.png",
          class: "review-card-bubble review-card-quote") %>
          <%= cl_image_tag("v1492742646/user3_rcvq4e.jpg",
          class: "review-avatar review-card-user") %>
          <p>
            I don't know any Japanese so I use Gibbit to make all of my appointments.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="review-card-white">
            <h3>Nico</h3>
            <%= cl_image_tag("v1492743361/icon-quoute_th5bzz.png",
            class: "review-card-bubble review-card-quote") %>
            <%= cl_image_tag("v1492742646/user4_ezwemv.jpg",
            class: "review-avatar review-card-user") %>
            <p>
              All of the Gibbers are incredibly helpful and have such a good understanding of the services around my house.
            </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="review-card-white">
          <h3>Hide</h3>
          <%= cl_image_tag("v1492743361/icon-quoute_th5bzz.png",
            class: "review-card-bubble review-card-quote") %>
            <%= cl_image_tag("v1492742645/user1_qnmxmz.jpg",
            class: "review-avatar review-card-user") %>
          <p>
            Any time one of my foreign friends needs help around town, I always recommend Gibbit!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

