
<div class="container">
  <div class="wrapper-content">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="avatar-wrap">
            <%= image_tag "defaultavatar.png", class: "avatar-large" %>
          <h3><%= @gibber.first_name %></h3>
          <p><%= @gibber.email %></p>
          <h5>Online</h5>
        </div>
        <ul class="list-group">
          <li class="list-group-item justify-content-between box-bgcolor">
          <div class="dashboard-headers">
            <h4>Need Assignment</h4>
            <span class="dashboard-badges"><%= @empties.count %></span>
          </div>
          </li>
          <li class="list-group-item justify-content-between box-bgcolor">
          <div class="dashboard-headers">
            <h4>Pending Requests</h4>
            <span class="dashboard-badges"><%= @pendings.count %></span>
          </div>
          </li>
          <li class="list-group-item justify-content-between box-bgcolor">
          <div class="dashboard-headers">
            <h4>Accepted Proposals</h4>
            <span class="dashboard-badges"><%= @acceptions.count %></span>
          </div>
          </li>
          <li class="list-group-item justify-content-between box-bgcolor">
          <div class="dashboard-headers">
            <h4>Proposals Outstanding</h4>
            <span class="dashboard-badges"><%= @proposals.count %></span>
          </div>
          </li>
          <li class="list-group-item justify-content-between box-bgcolor">
          <div class="dashboard-headers">
            <h4>Completed Requests</h4>
            <span class="dashboard-badges"><%= @completions.count %></span>
          </div>
          </li>
        </ul>
      </div>


     <div class="col-xs-12 col-sm-9">
        <div class="request-wrap">
          <h3 class="request-title">Need Assignment</h3>
          <% if @pendings.empty? && @proposals.empty? && @acceptions.empty? %>
            <h5 class="default-empty-response">You currently have no open requests.</h5>
          <% else %>
            <% @empties.each do |empty| %>
          <div class="mini-form">
              <div class="request">
                <div class="request-current proposed-user-underline">
                  <h4><%= empty.status.capitalize %></h4>
                </div>
                <div class="completed-message">
                  <%= form_tag assign_gibber_gibbers_inquiry_path(empty), method: :patch do %>
                    <%= collection_select :gibber, :id, @gibbers,:id, :first_name %>
                    <p><%= submit_tag "Assign", class: "btn assign-gibber-empty assign-gibber-underline" %></p>
                  <% end %>
                </div>
                <div class="request-description">
                  <%= link_to inquiry_path(empty) do %>
                    <h5>Request</h5>
                    <p><%= empty.description %></p>
                  <% end %>
                </div>
                <div class="completed-request-choices">
                  <div class="progress-radial progress-15">
                    <div class="overlay">15%</div>
                  </div>
                </div>
              </div>
          </div>
            <% end %>
          <% end %>
        </div>

  <!-- PENDING ORDERS  -->

        <div class="request-wrap">
          <h3 class="request-title">Open Requests</h3>
          <% if @pendings.empty? && @proposals.empty? && @acceptions.empty? %>
            <h5 class="default-empty-response">You currently have no open requests.</h5>
          <% else %>
          <% @pendings.each do |pending| %>
          <div class="mini-form">
              <div class="request">
                <div class="request-current pending-gibber-underline">
                  <div class="btn-group">
                    <button class="btn transparent-button
                    dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4><%= pending.status.capitalize %><i class="fa fa-caret-down" aria-hidden="true"></i></h4></button>

                    <div class="dropdown-menu">
                      <ul>
                        <li><%= link_to "Pending", pending_gibbers_inquiry_path(pending), method: :patch, class: "dropdown-item" %></li>
                        <li><%= link_to "Propose", propose_gibbers_inquiry_path(pending), method: :patch, class: "dropdown-item" %></li>
                        <li><%= link_to "Complete", complete_gibbers_inquiry_path(pending), method: :patch, class: "dropdown-item" %></li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="request-description">
                  <%= link_to inquiry_path(pending) do %>
                    <h5>Request</h5>
                    <p><%= pending.description %></p>
                  <% end %>
                </div>
                <div class="completed-message">
                    <div class="message-flex">
                      <%= cl_image_tag("v1493251807/message-icon_ikbcjm.png", class: "status-message") %>
                      <div class="inside-message">
                        <button type="button" class="btn transparent-message" data-toggle="modal" data-target="#modal-inquiry-<%= pending.id %>">
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="modal-inquiry-<%= pending.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel"><%= pending.description %> </h4>
                              </div>
                              <div class="modal-body">
                                <% if pending.messages == [] %>
                                  <div class="modal-messages">
                                  <%=  "No messages yet" %>
                                  </div>
                                <% else %>
                                  <% pending.messages.each do |message| %>
                                    <div class="modal-messages text-left">
                                    <p><%= message.sender.first_name %> : <%= message.content %></p>
                                    </div>
                                    <% end %>
                                <% end %>
                              </div>
                              <div class="modal-footer">
                                <div class="gibber-message-propose">
                                  <%= simple_form_for [pending, @message] do |f| %>
                                  <%= f.input :content, placeholder: "Type your message", label: false %>
                                  <%= f.submit "Send", class: "btn gibbit-button" %>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="completed-request-choices">
                  <div class="progress-radial progress-25">
                    <div class="overlay">25%</div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <% @proposals.each do |proposal| %>
          <div class="mini-form">
            <div class="request">
              <div class="request-current pending-user-underline">
               <div class="btn-group">
                  <button class="btn transparent-button
                  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4><%= proposal.status.capitalize %><i class="fa fa-caret-down" aria-hidden="true"></i></h4></button>

                  <div class="dropdown-menu">
                    <ul>
                      <li><%= link_to "Pending", pending_gibbers_inquiry_path(proposal), method: :patch, class: "dropdown-item" %></li>
                      <li><%= link_to "Propose", propose_gibbers_inquiry_path(proposal), method: :patch, class: "dropdown-item" %></li>
                      <li><%= link_to "Complete", complete_gibbers_inquiry_path(proposal), method: :patch, class: "dropdown-item" %></li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="request-description">
                <%= link_to inquiry_path(proposal) do %>
                  <h5>Request</h5>
                  <p><%= proposal.description %></p>
                <% end %>
              </div>
              <div class="completed-message">
                <div class="message-flex">
                  <%= cl_image_tag("v1493251807/message-icon_ikbcjm.png", class: "status-message") %>
                  <div class="inside-message">
                    <button type="button" class="btn transparent-message" data-toggle="modal" data-target="#modal-inquiry-<%= proposal.id %>">
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="modal-inquiry-<%= proposal.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"><%= proposal.description %> </h4>
                          </div>
                          <div class="modal-body">
                            <% if proposal.messages == [] %>
                              <div class="modal-messages">
                              <%=  "No messages yet" %>
                              </div>
                            <% else %>
                              <% proposal.messages.each do |message| %>
                                <div class="modal-messages text-left">
                                <p><%= message.sender.first_name %> : <%= message.content %></p>
                                </div>
                                <% end %>
                            <% end %>
                          </div>
                          <div class="modal-footer">
                            <div class="gibber-message-propose">
                              <%= simple_form_for [proposal, @message] do |f| %>
                              <%= f.input :content, placeholder: "Type your message", label: false %>
                              <%= f.submit "Send", class: "btn gibbit-button" %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="completed-request-choices">
                <div class="progress-radial progress-50">
                  <div class="overlay">50%</div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <% @acceptions.each do |acception| %>
            <div class="mini-form">
                <div class="request">
                  <div class="request-current accepted-user-underline">
                 <div class="btn-group">
                    <button class="btn transparent-button
                    dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4><%= acception.status.capitalize %><i class="fa fa-caret-down" aria-hidden="true"></i></h4></button>

                    <div class="dropdown-menu">
                      <ul>
                        <li><%= link_to "Pending", pending_gibbers_inquiry_path(acception), method: :patch, class: "dropdown-item" %></li>
                        <li><%= link_to "Propose", propose_gibbers_inquiry_path(acception), method: :patch, class: "dropdown-item" %></li>
                        <li><%= link_to "Complete", complete_gibbers_inquiry_path(acception), method: :patch, class: "dropdown-item" %></li>
                        </ul>
                    </div>
                  </div>
                </div>
                  <div class="request-description">
                    <%= link_to inquiry_path(acception) do %>
                      <h5>Request</h5>
                      <p><%= acception.description %></p>
                    <% end %>
                  </div>
                  <div class="completed-message">
                    <div class="message-flex">
                      <%= cl_image_tag("v1493251807/message-icon_ikbcjm.png", class: "status-message") %>
                      <div class="inside-message">
                        <button type="button" class="btn transparent-message" data-toggle="modal" data-target="#modal-inquiry-<%= acception.id %>">
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="modal-inquiry-<%= acception.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel"><%= acception.description %> </h4>
                              </div>
                              <div class="modal-body">
                                <% if acception.messages == [] %>
                                  <div class="modal-messages">
                                  <%=  "No messages yet" %>
                                  </div>
                                <% else %>
                                  <% acception.messages.each do |message| %>
                                    <div class="modal-messages text-left">
                                    <p><%= message.sender.first_name %> : <%= message.content %></p>
                                    </div>
                                    <% end %>
                                <% end %>
                              </div>
                              <div class="modal-footer">
                                <div class="gibber-message-propose">
                                  <%= simple_form_for [acception, @message] do |f| %>
                                  <%= f.input :content, placeholder: "Type your message", label: false %>
                                  <%= f.submit "Send", class: "btn gibbit-button" %>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="completed-request-choices">
                    <div class="progress-radial progress-75">
                      <div class="overlay">75%</div>
                    </div>
                  </div>
                </div>
            </div>
              <% end %>
          <% end %>
        </div>


        <div class="request-wrap">
          <h3 class="request-title">Completed Requests</h3>
          <% if @completions.empty? && @rejections.empty? %>
            <h5 class="default-empty-response">You currently have no completed requests.</h5>
          <% else %>
          <% @completions.each do |completion| %>
            <div class="mini-form">
                <div class="request">
                  <div class="request-current accepted-user-underline">
                 <div class="btn-group">
                    <button class="btn transparent-button
                    dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4><%= completion.status.capitalize %><i class="fa fa-caret-down" aria-hidden="true"></i></h4></button>

                    <div class="dropdown-menu">
                      <ul>
                        <li><%= link_to "Pending", pending_gibbers_inquiry_path(completion), method: :patch, class: "dropdown-item" %></li>
                        <li><%= link_to "Propose", propose_gibbers_inquiry_path(completion), method: :patch, class: "dropdown-item" %></li>
                        <li><%= link_to "Complete", complete_gibbers_inquiry_path(completion), method: :patch, class: "dropdown-item" %></li>
                        </ul>
                    </div>
                  </div>
                </div>
                  <div class="request-description">
                    <%= link_to inquiry_path(completion) do %>
                      <h5>Request</h5>
                      <p><%= completion.description %></p>
                    <% end %>
                  </div>
                  <div class="completed-message">
                    <div class="message-flex">
                      <%= cl_image_tag("v1493251807/message-icon_ikbcjm.png", class: "status-message") %>
                      <div class="inside-message">
                        <button type="button" class="btn transparent-message" data-toggle="modal" data-target="#modal-inquiry-<%= completion.id %>">
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="modal-inquiry-<%= completion.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel"><%= completion.description %> </h4>
                              </div>
                              <div class="modal-body">
                                <% if completion.messages == [] %>
                                  <div class="modal-messages">
                                  <%=  "No messages yet" %>
                                  </div>
                                <% else %>
                                  <% completion.messages.each do |message| %>
                                    <div class="modal-messages text-left">
                                    <p><%= message.sender.first_name %> : <%= message.content %></p>
                                    </div>
                                    <% end %>
                                <% end %>
                              </div>
                              <div class="modal-footer">
                                <div class="gibber-message-propose">
                                  <%= simple_form_for [completion, @message] do |f| %>
                                  <%= f.input :content, placeholder: "Type your message", label: false %>
                                  <%= f.submit "Send", class: "btn gibbit-button" %>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="completed-request-choices">
                    <div class="progress-radial progress-100">
                      <div class="overlay">100%</div>
                    </div>
                  </div>
                </div>
              <%# end %>
            </div>
          <% end %>
          <% @rejections.each do |rejection| %>
            <div class="mini-form">
                <div class="request">
                  <div class="request-current proposed-user-underline">
                 <div class="btn-group">
                    <button class="btn transparent-button
                    dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4><%= rejection.status.capitalize %><i class="fa fa-caret-down" aria-hidden="true"></i></h4></button>

                    <div class="dropdown-menu">
                      <ul>
                        <li><%= link_to "Pending", pending_gibbers_inquiry_path(rejection), method: :patch, class: "dropdown-item" %></li>
                        <li><%= link_to "Propose", propose_gibbers_inquiry_path(rejection), method: :patch, class: "dropdown-item" %></li>
                        <li><%= link_to "Complete", complete_gibbers_inquiry_path(rejection), method: :patch, class: "dropdown-item" %></li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="request-description">
                  <%= link_to inquiry_path(rejection) do %>
                    <h5>Request</h5>
                    <p><%= rejection.description %></p>
                  <% end %>
                </div>
                  <div class="completed-message">
                    <div class="message-flex">
                      <%= cl_image_tag("v1493251807/message-icon_ikbcjm.png", class: "status-message") %>
                      <div class="inside-message">
                        <button type="button" class="btn transparent-message" data-toggle="modal" data-target="#modal-inquiry-<%= rejection.id %>">
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="modal-inquiry-<%= rejection.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel"><%= rejection.description %> </h4>
                              </div>
                              <div class="modal-body">
                                <% if rejection.messages == [] %>
                                  <div class="modal-messages">
                                  <%=  "No messages yet" %>
                                  </div>
                                <% else %>
                                  <% rejection.messages.each do |message| %>
                                    <div class="modal-messages text-left">
                                    <p><%= message.sender.first_name %> : <%= message.content %></p>
                                    </div>
                                    <% end %>
                                <% end %>
                              </div>
                              <div class="modal-footer">
                                <div class="gibber-message-propose">
                                  <%= simple_form_for [rejection, @message] do |f| %>
                                  <%= f.input :content, placeholder: "Type your message", label: false %>
                                  <%= f.submit "Send", class: "btn gibbit-button" %>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="completed-request-choices">
                  <div class="progress-radial progress-0">
                    <div class="overlay"></div>
                  </div>
                </div>
              </div>
          <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="push"></div>
