<div class="message-user">
  <div class="message-user-name">
    <span><%= @inquiry.user.first_name %>: </span>
  </div>
  <div class="message-user-content">
    <span><%= @inquiry.description %></span>
  </div>
</div>

<div class="message-gibber">
  <div class="message-gibber-content">
    <span>Your request has been received!</span>
  </div>
  <div class="message-gibber-name">
    <span>: Auto-Gibber</span>
  </div>
</div>


<div class="message-gibber">
  <div class="message-gibber-content">
    <span>A gibber will email you within the next 30 minutes.</span>
  </div>
  <div class="message-gibber-name">
    <span> : Auto-Gibber</span>
  </div>
</div>


<% @messages.each do |message| %>
  <% if message.sender_type == "Gibber" %>
    <div class="message-gibber">
      <div class="message-gibber-content">
        <span><%= message.content %></span>
      </div>
      <div class="message-gibber-name">
        <span> : <%= message.sender.first_name %></span>
      </div>
    </div>
  <% else %>
    <div class="message-user">
      <div class="message-user-name">
        <span><%= message.sender.first_name %> : </span>
      </div>
      <div class="message-user-content">
        <span><%= message.content %></span>
      </div>
    </div>
  <% end %>
<% end %>
