<% if user_signed_in? %>
  <% if inquiry.status == "proposed" %>
    <div class="chat-order-status-box">
      <div class="chat-order-status-title">
        <h3 style="color:#469AE0;"><%= inquiry.status.capitalize %> </h3>
      </div>
        <%= cl_image_tag("v1493097017/005-delivery_zy72g2.png") %>
    </div>
    <div class="chat-order-status-text">
      <p>Your proposal is in your messages.</p>
    </div>
    <div class="chat-order-accrej-button">
      <%= render 'payments/payment_button', inquiry: inquiry %>

      <!-- <ul class="list-inline"> -->
        <!-- <li><%# form_tag orders_path do %>
              <%# hidden_field_tag 'inquiry_id', inquiry.id %>
              <%# submit_tag 'Purchase', class: 'btn btn-primary' %>
            <%# end %></li> -->
<!--         <li><%# link_to "Accept", accept_inquiry_path(inquiry), method: :patch, class: "btn accept-button" %></li>
        <li><%# link_to "Reject", reject_inquiry_path(inquiry), method: :patch, class: "btn reject-button" %></li> -->
      <!-- </ul> -->
    </div>
  <% elsif inquiry.status == "pending" %>
    <div class="chat-order-status-box">
      <div class="chat-order-status-title">
        <h3 style="color:#FDB631;"><%= inquiry.status.capitalize %> </h3>
      </div>
      <%= cl_image_tag("v1493097018/007-waiting_yqip14.png") %>
    </div>
    <div class="chat-order-status-text">
      <p>A gibber is checking your order now!</p>
    </div>
  <% elsif inquiry.status == "accepted" %>
    <div class="chat-order-status-box">
      <div class="chat-order-status-title">
        <h3 style="color:#20bd3e;"><%= inquiry.status.capitalize %> </h3>
      </div>
        <%= cl_image_tag("v1493097017/004-done_mzqn2s.png") %>
    </div>
    <div class="chat-order-status-text">
      <p><strong>Your order of ¥<%= inquiry.price_cents %> has been accepted.</strong></p>
      <p>A gibber will finalize your order now!</p>
    </div>
  <% elsif inquiry.status == "rejected" %>
    <div class="chat-order-status-box">
      <div class="chat-order-status-title">
        <h3 style="color:#EE5F5B;"><%= inquiry.status.capitalize %> </h3>
      </div>
        <%= cl_image_tag("v1493097017/003-delete-button_shgvzi.png") %>
    </div>
    <div class="chat-order-status-text">
      <p>We're sorry the proposal didn't meet your needs. Let us know if we can do anything differently.</p>
    </div>
  <% elsif inquiry.status == "completed" %>
    <div class="chat-order-status-box">
      <div class="chat-order-status-title">
        <h3 style="color:#20bd3e;"><%= inquiry.status.capitalize %> </h3>
      </div>
        <%= cl_image_tag("v1493097017/002-task-complete_flthe0.png") %>
    </div>
    <div class="chat-order-status-text">
      <p>You're all set! Thank you for choosing Gibbit.</p>
    </div>
  <% end %>
<% elsif gibber_signed_in? %>
  <% if inquiry.status == "pending" %>
    <div class="chat-order-status-title">
      <h3 style="color:#FDB631;"><%= inquiry.status.capitalize %> </h3>
    </div>
    <div class="chat-order-status-text">
      <p><%= inquiry.user.first_name %> needs a proposal...</p>
    </div>
    <div class="chat-gibber-status-button">
      <%= link_to "Make a proposal", propose_gibbers_inquiry_path(inquiry), method: :patch, class: "btn view-request-button-large pending-gibber-underline" %>
    </div>
  <% elsif inquiry.status == "proposed" %>
    <div class="chat-order-status-title">
      <h3 style="color:#469AE0;"><%= inquiry.status.capitalize %> </h3>
    </div>
    <div class="chat-order-status-text">
      <p>Awaiting <%= inquiry.user.first_name %>'s response.</p>
    </div>
  <% elsif inquiry.status == "accepted" %>
    <div class="chat-order-status-title">
      <h3 style="color:#20bd3e;"><%= inquiry.status.capitalize %> </h3>
    </div>
    <div class="chat-order-status-text">
      <p>Lock that request in for <%= inquiry.user.first_name %>!</p>
    </div>
    <div class="chat-gibber-status-button">
      <%= link_to "Complete the Request", complete_gibbers_inquiry_path(inquiry), method: :patch, class: "btn view-request-button-large accepted-gibber-underline" %>
    </div>

  <% elsif inquiry.status == "completed" %>
    <div class="chat-order-status-title">
      <h3 style="color:#20bd3e;"><%= inquiry.status.capitalize %> </h3>
    </div>
    <div class="chat-order-status-text">
      <p>Job well done!</p>
    </div>
  <% elsif inquiry.status == "rejected" %>
    <div class="chat-order-status-title">
      <h3 style="color:#EE5F5B;"><%= inquiry.status.capitalize %> </h3>
    </div>
    <div class="chat-order-status-text">
      <p>Well we can't win them all.</p>
    </div>
  <% end %>
<% end %>
