<div class="container">
  <div class="wrapper-content">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="avatar-wrap">
          <% if current_user.facebook_picture_url.nil? %>
              <%= image_tag "defaultavatar.png", class: "avatar-dashboard" %>
          <% else %>
            <%= image_tag current_user.facebook_picture_url, class: "avatar-dashboard" %>
          <% end %>
          <h3><%= @user.first_name %></h3>
          <p><%= @user.email %></p>
        </div>
        <ul class="list-group">
          <li class="list-group-item justify-content-between avatar-wrap-stats box-bgcolor">
            <div class="dashboard-headers">
              <h4>Credits</h4>
              <span class="dashboard-badges"><%= @user.credits %></span>
            </div>
          </li>
          <li class="list-group-item justify-content-between avatar-wrap-stats box-bgcolor">
            <div class="dashboard-headers">
            <h4>Pending</h4>
            <span class="dashboard-badges"><%= @pendings.count %></span>
            </div>
          </li>
          <li class="list-group-item justify-content-between avatar-wrap-stats">
            <div class="dashboard-headers">
            <h4>Proposed</h4>
            <span class="dashboard-badges"><%= @proposals.count %></span>
            </div>
          </li>
            <li class="list-group-item justify-content-between avatar-wrap-stats">
            <div class="dashboard-headers">
            <h4>Accepted</h4>
            <span class="dashboard-badges"><%= @acceptions.count %></span>
            </div>
          </li>
          <li class="list-group-item justify-content-between avatar-wrap-stats box-bgcolor">
          <div class="dashboard-headers">
            <h4>Completed</h4>
            <span class="dashboard-badges"><%= @completions.count %></span>
          </div>
          </li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-9">
        <div class="request-wrap">
          <h3 class="request-title">New Request</h3>
          <div class="mini-form">
            <%= render 'shared/inquiry_form' %>
          </div>
        </div>

        <div class="request-wrap">
          <h3 class="request-title">Open Requests</h3>
          <% @pendings.each do |pending| %>
          <div class="mini-form">
              <%= link_to inquiry_path(pending) do %>
              <div class="request">
                <div class="request-current pending-user-underline">
                  <h4><%= pending.status.capitalize %></h4>
                </div>
                <div class="request-description">
                  <h5>Request</h5>
                  <p><%= pending.description %></p>
                </div>
                <div class="completed-calendar">
                  <div class="calendar-flex">
                    <%= cl_image_tag("v1493200052/calendar-page-empty_mmkbwq.png", class: "status-calendar") %>
                    <div class="inside-calendar">
                      <p><%= pending.created_at.strftime("%b %e ") %></p>
                    </div>
                  </div>
                </div>
                <div class="completed-request-choices">
                  <div class="progress-radial progress-25">
                    <div class="overlay">25%</div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <% end %>
          <% @proposals.each do |proposal| %>
          <div class="mini-form">
            <%= link_to inquiry_path(proposal) do %>
            <div class="request">
              <div class="request-current proposed-user-underline">
                <h4><%= proposal.status.capitalize %></h4>
              </div>
              <div class="request-description">
                <h5>Request</h5>
                <p><%= proposal.description %></p>

              </div>
              <div class="completed-calendar">
                <div class="calendar-flex">
                  <%= cl_image_tag("v1493200052/calendar-page-empty_mmkbwq.png", class: "status-calendar") %>
                  <div class="inside-calendar">
                    <p><%= proposal.created_at.strftime("%b %e ") %></p>
                  </div>
                </div>
              </div>
              <div class="completed-request-choices">
                <div class="progress-radial progress-50">
                  <div class="overlay">50%</div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <% end %>
          <% @acceptions.each do |acception| %>
            <div class="mini-form">
              <%= link_to inquiry_path(acception) do %>
                <div class="request">
                  <div class="request-current accepted-user-underline">
                    <h4><%= acception.status.capitalize %></h4>
                  </div>
                  <div class="request-description">
                    <h5>Request</h5>
                    <p><%= acception.description %></p>
                  </div>
                  <div class="completed-calendar">
                    <div class="calendar-flex">
                      <%= cl_image_tag("v1493200052/calendar-page-empty_mmkbwq.png", class: "status-calendar") %>
                      <div class="inside-calendar">
                        <p><%= acception.created_at.strftime("%b %e ") %></p>
                      </div>
                    </div>
                  </div>
                  <div class="completed-request-choices">
                    <div class="progress-radial progress-75">
                      <div class="overlay">75%</div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>


        <div class="request-wrap">
          <h3 class="request-title">Completed Requests</h3>
          <% @completions.each do |completion| %>
            <div class="mini-form">
              <%= link_to inquiry_path(completion) do %>
                <div class="request">
                  <div class="request-current accepted-user-underline">
                    <h4><%= completion.status.capitalize %></h4>
                  </div>
                  <div class="request-description">
                    <h5>Request</h5>
                    <p><%= completion.description %></p>

                  </div>
                  <div class="completed-calendar">
                    <div class="calendar-flex">
                      <%= cl_image_tag("v1493200052/calendar-page-empty_mmkbwq.png", class: "status-calendar") %>
                      <div class="inside-calendar">
                        <p><%= completion.created_at.strftime("%b %e ") %></p>
                      </div>
                    </div>
                  </div>
                  <div class="completed-request-choices">
                    <div class="progress-radial progress-100">
                      <div class="overlay">100%</div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <% @rejections.each do |rejection| %>
            <div class="mini-form">
              <%= link_to inquiry_path(rejection) do %>
                <div class="request">
                  <div class="request-current proposed-user-underline">
                    <h4><%= rejection.status.capitalize %></h4>
                  </div>
                  <div class="request-description">
                    <h5>Request</h5>
                    <p><%= rejection.description %></p>
                  </div>
                  <div class="completed-calendar">
                    <div class="calendar-flex">
                      <%= cl_image_tag("v1493200052/calendar-page-empty_mmkbwq.png", class: "status-calendar") %>
                      <div class="inside-calendar">
                        <p><%= rejection.created_at.strftime("%b %e ") %></p>
                      </div>
                    </div>
                  </div>
                <div class="completed-request-choices">
                  <div class="progress-radial progress-0">
                    <div class="overlay"></div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

          <!--           <div class="completed-destroy">
                    <%#= link_to raw("<i class='fa fa-trash' aria-hidden='true'></i>"), inquiry_path(completion), method: :delete %> -->
