<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="avatar-wrap">
        <% if current_user.facebook_picture_url.nil? %>
            <%= cl_image_tag "v1492070390/defaultavatar_dnhacp.png", class: "avatar-dashboard" %>
        <% else %>
          <%= image_tag current_user.facebook_picture_url, class: "avatar-dashboard" %>
        <% end %>
        <h3><%= @user.first_name %></h3>
        <p><%= @user.email %></p>
        <%= link_to("Get Credits", "#" , class: "btn join-button") %>
      </div>
      <ul class="list-group">
        <li class="list-group-item justify-content-between">
          <div class="dashboard-headers">
            <h4>Credits</h4>
            <span class="badge badge-default badge-pill"><%= @user.credits %></span>
          </div>
        </li>
        <li class="list-group-item justify-content-between">
          <div class="dashboard-headers">
          <h4>Pending</h4>
          <span class="badge badge-default badge-pill"><%= @user.inquiries.count %></span>
          </div>
        </li>
        <li class="list-group-item justify-content-between">
        <div class="dashboard-headers">
          <h4>Completed</h4>
          <span class="badge badge-default badge-pill"><%= @completions.count %></span>
        </div>
        </li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-9">
      <div class="request-wrap">
        <h3 class="request-title">New Request</h3>
        <div class="mini-form">
          <%= render 'shared/inquiry_form' %>
        </div>
      </div>

      <div class="request-wrap">
        <h3 class="request-title">Open Requests</h3>
        <hr>
        <% @pendings.each do |pending| %>
          <%= link_to inquiry_path(pending) do %>
          <div class="request">
            <div class="request-current">
              <button class="pending-button"><%= pending.status.capitalize %></button>
            </div>
            <div class="request-description">
              <p><%= pending.description %></p>
            </div>
          </div>
          <% end %>
          <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <hr>
        <% end %>
        <% @proposals.each do |proposal| %>
          <%= link_to inquiry_path(proposal) do %>
          <div class="request">
            <div class="request-current">
              <button class="propose-button"><%= proposal.status.capitalize %></button>
            </div>
            <div class="request-description">
              <p><%= proposal.description %></p>
            </div>
          </div>
          <% end %>
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <hr>
        <% end %>
        <% @acceptions.each do |accepetion| %>
          <%= link_to inquiry_path(accepetion) do %>
          <div class="request">
            <div class="request-current">
              <button class="complete-button"><%= accepetion.status.capitalize %></button>
            </div>
            <div class="request-description">
              <p><%= accepetion.description %></p>
            </div>
          </div>
          <% end %>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <hr>
        <% end %>
      </div>


      <div class="request-wrap">
        <h3 class="request-title">Completed Requests</h3>
        <hr>
        <% @completions.each do |completion| %>
          <%= link_to inquiry_path(completion) do %>
          <div class="request">
            <div class="completed-current">
              <button class="complete-button"><%= completion.status.capitalize %></button>
            </div>
            <div class="completed-description">
              <p><%= completion.description %></p>
            </div>
            <div class="completed-choices">
              <ul class="list-inline">
                <li><i class="fa fa-share" aria-hidden="true"></i></li>
                <li><i class="fa fa-trash-o" aria-hidden="true"></i></li>
              </ul>
            </div>
          </div>
          <% end %>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <hr>
        <% end %>
        <% @rejections.each do |rejection| %>
          <%= link_to inquiry_path(rejection) do %>
          <div class="request">
            <div class="completed-current">
              <p><strong><%= rejection.status.capitalize %></strong></p>
            </div>
            <div class="completed-description">
              <p><%= rejection.description %></p>
            </div>
            <div class="completed-choices">
              <ul class="list-inline">
                <li><i class="fa fa-trash-o" aria-hidden="true"></i></li>
              </ul>
            </div>
          </div>
          <% end %>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
