<div class="container">
  <div class="wrapper-content">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="avatar-wrap">
          <% if current_user.facebook_picture_url.nil? %>
              <%= image_tag "defaultavatar.png", class: "avatar-dashboard" %>
          <% else %>
            <%= image_tag current_user.facebook_picture_url, class: "avatar-dashboard" %>
          <% end %>
          <h3><%= @user.first_name %></h3>
          <p><%= @user.email %></p>
        </div>
        <ul class="list-group">
          <li class="list-group-item justify-content-between avatar-wrap-stats box-bgcolor">
            <div class="dashboard-headers">
              <h4>Credits</h4>
              <span class="dashboard-badges"><%= @user.credits %></span>
            </div>
          </li>
          <li class="list-group-item justify-content-between avatar-wrap-stats box-bgcolor">
            <div class="dashboard-headers">
            <h4>Pending</h4>
            <span class="dashboard-badges"><%= @pendings.count %></span>
            </div>
          </li>
          <li class="list-group-item justify-content-between avatar-wrap-stats">
            <div class="dashboard-headers">
            <h4>Proposed</h4>
            <span class="dashboard-badges"><%= @proposals.count %></span>
            </div>
          </li>
            <li class="list-group-item justify-content-between avatar-wrap-stats">
            <div class="dashboard-headers">
            <h4>Accepted</h4>
            <span class="dashboard-badges"><%= @acceptions.count %></span>
            </div>
          </li>
          <li class="list-group-item justify-content-between avatar-wrap-stats box-bgcolor">
          <div class="dashboard-headers">
            <h4>Completed</h4>
            <span class="dashboard-badges"><%= @completions.count %></span>
          </div>
          </li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-9">
        <div class="request-wrap">
          <h3 class="request-title">New Request</h3>
          <div class="mini-form">
            <%= render 'shared/inquiry_form' %>
          </div>
        </div>

        <div class="request-wrap">
          <h3 class="request-title">Open Requests</h3>

          <dir class="mini-form" style="margin-bottom: 0px;">
            <% @pendings.each do |pending| %>
              <%= link_to inquiry_path(pending) do %>
              <div class="request">
                <div class="request-current pending-user-underline">
                  <h4><%= pending.status.capitalize %></h4>
                </div>
                <div class="request-description">
                  <h5>Request:</h5>
                  <p><%= pending.description %></p>
                </div>
                <div class="completed-calender">
                  <%= cl_image_tag("v1493200052/calendar-page-empty_mmkbwq.png", class: "status-calendar") %>
                  <div class="inside-calendar">
                    <p><%= pending.created_at.strftime("%b %e ") %></p>
                  </div>
                    <!-- <div class="inside-calendar"> -->
                    <!-- </div> -->
                </div>
                <div class="completed-request-choices">
                  <div class="progress-radial progress-25">
                    <div class="overlay"></div>
                  </div>
                </div>
              </div>
              <% end %>


            <% end %>
            <% @proposals.each do |proposal| %>
              <%= link_to inquiry_path(proposal) do %>
              <div class="request">
                <div class="request-current">
                  <button class="view-request-button proposed-user-underline"><%= proposal.status.capitalize %></button>
                </div>
                <div class="request-description">
                  <p><%= proposal.description %></p>
                </div>
                <div class="completed-request-choices">
                  <div class="progress-radial progress-50">
                    <div class="overlay"></div>
                  </div>
                </div>
              </div>
              <% end %>


            <% end %>
            <% @acceptions.each do |accepetion| %>
              <%= link_to inquiry_path(accepetion) do %>
              <div class="request">
                <div class="request-current">
                  <button class="view-request-button accepted-user-underline"><%= accepetion.status.capitalize %></button>
                </div>
                <div class="request-description">
                  <p><%= accepetion.description %></p>
                </div>
                <div class="completed-request-choices">
                  <div class="progress-radial progress-75">
                    <div class="overlay"></div>
                  </div>
                </div>
              </div>
              <% end %>


            <% end %>
          </dir>
        </div>


        <div class="request-wrap">
          <h3 class="request-title">Completed Requests</h3>

          <div class="mini-form">
            <% @completions.each do |completion| %>
              <div class="request">
                <div class="completed-current">
                  <button class="view-request-button accepted-user-underline"><%= completion.status.capitalize %></button>
                </div>
              <%= link_to inquiry_path(completion) do %>
                <div class="completed-description">
                  <p><%= completion.description %></p>
                </div>
              <% end %>
                <div class="completed-request-choices">
                  <div class="progress-radial progress-100">
                    <div class="overlay"></div>
                  </div>
                  <div class="completed-links">
                    <div class="completed-destroy">
                    <%= link_to raw("<i class='fa fa-trash' aria-hidden='true'></i>"), inquiry_path(completion), method: :delete %>
                    </div>
                  </div>
                </div>
              </div>

            <% end %>

            <% @rejections.each do |rejection| %>
              <div class="request">
                <div class="completed-current">
                  <button class="view-request-button proposed-user-underline"><%= rejection.status.capitalize %></button>
                </div>
              <%= link_to inquiry_path(rejection) do %>
                <div class="completed-description">
                  <p><%= rejection.description %></p>
                </div>
              <% end %>
                <div class="completed-request-choices">
                  <div class="completed-links">
                    <%= link_to raw("<i class='fa fa-trash' aria-hidden='true'></i>"), inquiry_path(rejection), method: :delete %>
                  </div>
                </div>
              </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
