<div class="container">
  <div class="row">
    <h1>Make a Request</h1>
    <h3>as <%= @user.first_name %></h3>
    <%= simple_form_for [@inquiry] do |f| %>
      <%= f.input :description, as: :text %>
      <%= f.input :photo, required: false %>
      <%= f.input :photo_cache, required: false, as: :hidden %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
